langchain
python-dotenv
langchain_community
pypdf
ipykernel
bs4
arxiv
PyMuPDF
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
tiktoken
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
pydantic
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
youtube-transcript-api
langchain_huggingface
huggingface_hub
